<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
  <script defer src="./js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous">
  </script>
  <script src="jquery.hoverplay.js"></script>
  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/3b1a86ebe3.js" crossorigin="anonymous"></script>

  <!-- WebSocket for Chat (icebox)-->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <title>Stay At Home Bar Hopping</title>
</head>
<body>

  <main>
    <h1></h1>