<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
  <!-- Materialize CSS Framework -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
  <link rel="stylesheet" href="/css/style.css" />
  <script src="/js/script.js"></script>
  <!-- JavaScript for Materialize -->
  <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
  <!-- WebSocket for Chat -->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <!-- Font Awesome Kit -->
  <!-- <script src="https://kit.fontawesome.com/3b1a86ebe3.js" crossorigin="anonymous"></script> -->
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <title>Stay At Home Bar Hopping</title>
</head>
<body>

  <main>
    <h1></h1>