<!-- VIEWS index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Baloo&display=swap" rel="stylesheet">
  <!-- Materialize Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/css/style.css" />
  <script defer src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous">
</script>

<script src="jquery.hoverplay.js"></script>
  <!-- Font Awesome Kit -->
  <script src="https://kit.fontawesome.com/3b1a86ebe3.js" crossorigin="anonymous"></script>

  <!-- WebSocket for Chat (icebox)-->
  <!-- <script src="/socket.io/socket.io.js"></script> -->
  <title>BarHop</title>
  <link rel = “icon” href =“../media/clink.png” type = “image/png”>
</head>
</head>
<body>
  <div class="viewIndex">
    
  <h1 id="viewH1" >Welcome to The Virtual Stir</h1>

  <div id="titleDesc">
  <h3 class="viewIndexH3">Invite Your Friends or Meet New People</h3>
    <h3 class="viewIndexH3">Crawl, Hop, or Become a Regular</h3>
    <h3 class="viewIndexH3">Enjoy Bars Across the U.S. From The Comfort of Your Home</h3><br><br>
  </div>
    <!-- <h4 id="viewH4"><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></h4><br><br> -->

    <h2 class="seeBars">Views Bars Below</h2><br><br>
  <div id="viewBars">
  <div id="video-wrapper1">
    <video id="video1" width="520" height="340" 
        controls data-play="hover">
        <source src=
"https://player.vimeo.com/external/274197642.sd.mp4?s=f988ff97aee8353a349a3d8d4a2c8c9ed9952cf3&profile_id=164&oauth2_token_id=57447761"
            type="video/mp4">
        Your browser does not 
        support the video tag.
    </video>
</div>
<h4 id="viewH4"><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></h4><br><br>
<% if (user) { %>
  <h4 class="viewH4"><a href="/Users/barChoice?barChoice=A" >Enter Bar A</h4><br><br>
    <% } %>
<div id="video-wrapper2">
    <video id="video2" width="520" height="340" 
        controls data-play="hover">
        <source src=
"https://player.vimeo.com/external/377870340.sd.mp4?s=a8b0cd475b521334e3f0dbff49788fa27c4e75ac&profile_id=139&oauth2_token_id=57447761"
            type="video/mp4">
        Your browser does not 
        support the video tag.
    </video>
</div>
<h4 id="viewH4"><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></h4><br><br>
<% if (user) { %>
<h4 class="viewH4"><a href="/Users/barChoice?barChoice=B" >Enter Bar B</h4><br><br>
</div>
<% } %>

    </div>
  </body>
</html>

