@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruslan+Display&family=Special+Elite&display=swap');


* {
  margin: 0;
  padding: 0;
}

.viewIndex {
    text-align: center;
    /*font-family: 'Ruslan Display', cursive;*/
    font-family: 'Special Elite', cursive;
  }

#viewH1 {
  font-size: 100px;
  margin-top: 2%;
}

#titleDesc {
  margin-top: 2%;
}

.seeBars {
  font-size: 40px;
  margin-top: 2%;
}

.googleAuth {
  font-size: 10px;
  color: grey;
}

.bartitle {
  font-size: 25px;
  color: rgb(226, 43, 86);
}

#video-wrapper2 {
  margin-top: 2%;
}

.chatPage {
  font-family: 'Special Elite', cursive;
  background-image: url('https://s7.orientaltrading.com/is/image/OrientalTrading/13808117?$PDP_VIEWER_IMAGE$');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}


input[type="text"] {
  width: 350px;
  height: 50px;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.userNav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 2%;
}

#userLogout {
  margin-left: 85%;
}

#users {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 5%;
}


.newComment {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2%;
}

.options {
  color: grey;
}

#delete-comment {
  margin-right: 900px;
}

#delCommentBtn {
  color: red;
  background: transparent;
  border: transparent;
}

#addCommentBtn {
  color: rgba(0, 0, 225, .7);
  background: transparent;
  border: transparent;
}

/* body {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
} */

img { width: 600px; }

.fullscreen-video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -10;
}

.bg-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
  z-index: -9;
}










/* Makes playbar on videos disappear */
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}